body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    
}

.bar, .header, .info, .insp-quote, .footer, .sign-up {
    padding-left: 120px;
    padding-right: 120px;
}

.bar, ul {
    display: flex;
}

.bar {
    justify-content: space-between;
    color: white;
    background-color: #1f2937;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 35px;
    flex: 0 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a{
    text-decoration: none;
    color: #e5e7eb;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;

}

.header {
    display: flex;
    justify-content: space-between;
    
    
}

.main-title {
    max-width: 250px;
}