body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
    position: relative;
    min-height: 100vh;
    flex-wrap: wrap;
    
}

.bar, .header, .info, .insp-quote, .footer, .sign-up-box {
    padding-left: 190px;
    padding-right: 190px;
}

.bar, ul {
    display: flex;
}

.bar {
    justify-content: space-between;
    color: white;
    background-color: #1f2937;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 35px;
    flex: 0 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a{
    text-decoration: none;
    color: #e5e7eb;

}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;

}

.header {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: #1f2937;
    gap: 35px;
    
    
}

.main-title {
    max-width: 450px;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    gap: 18px;
}

#one, #two {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 450px;
}

.image {
    width: 450px;
    max-width: 450px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    background-color: grey;
}

#one {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

#two {
    font-size: 18px;
    color: #e5e7eb;
}
.button-one {
    max-width: 150px;
    flex: 0 0 auto;
    padding: 8px 30px;
    background-color: #3882f6;
    border: 0;
    border-radius: 12px;
    color: #e5e7eb;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    
    
    height: 500px;
    padding-bottom: 100px;

}

.headline {
    display: flex;
    justify-content: center;
    
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.content {
    display: flex;
    justify-content:center ;
    gap: 35px;
}

.info-box {
    
    justify-content: center;    
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 200px;

}
.one, .two, .three, .four {
    width: 200px;
    height: 200px;
    border: solid #3882f6;
    border-radius: 12px;  
}

.text {
    max-width: 200px;
    padding: 5px 10px;    
}

.insp-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;

    

}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    padding-left: 700px;
    background-color: #e5e7eb;
    font-weight: 600;
}

.sign-up-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    gap: 187px;
    max-width: 850px;
    padding: 35px 126.5px;
    border-radius: 12px;
    color: #e5e7eb;

}

.text-one {
    font-weight: 800;
    font-size: larger;
}

.text-two {
    font-size: 16px;
}

.button-two {
    background-color: #3882f6;
    border: solid #e5e7eb 2px;
    padding: 12px 35px;
    border-radius: 12px;
    color: #e5e7eb;
    font-weight: 800;
    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    height: 85px;
    font-size: 18px;
    font-weight: bold;
    
}
